.contact {
  color: white;
  background-color: #000;
}

.contact-box {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.contact-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-container>div {
  text-align: center;
  padding: 10px 15px;
}

.contact-icon a {
  color: #dd9a05;
  font-size: 20px;
}


.connect-text h3 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 500;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}

.contact-info :is(h3, p) {
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
}


footer div {
  background: #111;
  text-align: center;
  color: #fff;
  font-size: clamp(0.8rem, 1vw, 1.4rem);
  padding: 20px;
}