.active {
    scroll-snap-type: unset;
}

a.btn.active {
    transform: translateY(0px);
}

.project-box {
    display: flex;
    flex-direction: column;
}

.project-box .project-container {
    margin-top: 30px;
    padding: 0 25px;
}

.project-box .project-flex {
    padding: 0.5em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 35%);
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}

.project-flex .project-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
    scroll-snap-align: center;
    border-radius: 30px;
    overflow: hidden;
}

.project-flex :where(.project-card, .screenshot){
    box-shadow: 0 5px 10px rgba(0, 0, 0.5);
}

.project-flex :where(.project-card, .screenshot):hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0.3);
}

.project-card .screenshot {
    height: 12rem;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

.project-card h2 {
    text-decoration: underline;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-card p {
    text-align: justify;
    font-size: clamp(0.9rem, 1.1vw, 1.2rem);
}

.project-card .bottom-btn {
    display: flex;
    justify-content: space-between;
}

.bottom-btn .btn-group{
    display: flex;
    gap: 0.5rem;
}

.bottom-btn .btn-group :where(img, a.btn){
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0.5);
    transition: all 300ms ease-out;
}

.bottom-btn .btn-group :where(img, a.btn):hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0.3);
    transform: translateY(-2px);
}

.bottom-btn .btn-group img {
    max-width: 40px;
    min-height: 40px;
    object-fit: contain;
    padding: 5px;
}

.bottom-btn a.btn {
    display: inline-block;
    background-color: #dd9a05;
    color: #fff;
    padding: 0.5rem 0.8rem;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

a.btn:hover {
    cursor: pointer;
}

@media only screen and (max-width:1200px){
    .project-card .screenshot {
        height: 10rem;
    }
    .project-card .bottom-btn {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
}
@media only screen and (max-width:1024px){
    .project-box .project-flex {
        grid-template-columns: repeat(6, 45%);
    }
}

@media only screen and (max-width:768px){
    .project-box .project-flex {
        grid-template-columns: repeat(6, 70%);
    }
}

@media only screen and (max-width:540px){
    .project-box .project-flex {
        grid-template-columns: repeat(6, 90%);
    }
}

@media only screen and (max-width:300px){
    .project-box .project-flex {
        grid-template-columns: repeat(6, 110%);
    }
}