.active {
    scroll-snap-type: unset;
}

.project-box {
    display: flex;
    flex-direction: column;
}

.project-container {
    margin-top: 30px;
    padding: 0 30px;
}

.project-flex {
    padding: .5em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 49%);
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}

.project-flex li {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    box-shadow: 0 0px 5px rgba(0, 0, 0.5);
    padding: 1em;
    border-radius: 5px;
}

.project-card .inside-project-card {
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
}

.inside-project-card .preject-desc {
    min-height: 8rem;
}

.screenshot {
    height: 15rem;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0.5);
}

.project-card h2 {
    text-decoration: underline;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 500;
}

.project-card p {
    text-align: justify;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.bottom-btn {
    display: flex;
    justify-content: space-between;
}

.iconBtnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.iconBtnCenter img {
    max-width: 40px;
    min-height: 40px;
    object-fit: contain;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

a.btn {
    display: inline-block;
    background-color: #dd9a05;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 2px solid #dd9a05;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-out;
    text-decoration: none;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

a.btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    background: transparent;
    color: #dd9a05;
}

a.btn:active {
    transform: translateY(0px);
}


@media screen and (max-width: 968px) {
    .project-card .inside-project-card {
        min-height: 17rem;
    }

    .screenshot {
        height: 10rem;
    }

    .iconBtnCenter {
        gap: 0.5rem;
    }

    .iconBtnCenter img {
        max-width: 35px;
        min-height: 35px;
        padding: 3px;
    }

    a.btn {
        padding: 0.4rem 0.6rem;
    }
}

@media screen and (max-width: 840px) {
    .bottom-btn {
        flex-direction: column;
        gap: 0.8rem;
    }
}

@media screen and (max-width: 690px) {
    .screenshot {
        height: 8rem;
    }
}

@media screen and (max-width: 540px) {
    .project-flex {
        grid-template-columns: repeat(4, 80%);
    }

    .project-card {
        gap: 0.7em;
        padding: 0.7em;
    }
    
}

@media screen and (max-width: 414px) {
    .project-flex {
        grid-template-columns: repeat(4, 90%);
    }
    .project-card .inside-project-card {
        min-height: 21rem;
    }
}

@media screen and (max-width: 300px) {
    .project-flex {
        grid-template-columns: repeat(4, 100%);
    }
    .project-card .inside-project-card {
        min-height: 24rem;
    }
}