.skills {
  color: white;
  background-color: #000;
  position: relative;
  /* z-index: -1; */
}

.skills-box {
  display: flex;
  flex-direction: column;
}

.skills-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  gap: 2rem;
  flex-wrap: wrap;
}

.skills-container>div {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.164);
  text-align: center;
  width: 48%;
  border-radius: 10px;
  padding: 1rem 0;
}

.skills-container>div:hover {
  box-shadow: 0 3px 5px rgba(245, 245, 245, 0.103);
}

.inner-skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

 .skills-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}


.skills-icon img {
  max-width: 60px;
  height: 60px;
  padding: 10px;
  object-fit: contain;
  border-radius: 5px;
  transition: all 300ms ease-out;
    box-shadow:
          6px 6px 20px 5px rgba(255, 255, 255, 0.3) inset,
            -4px -4px 6px 5px rgba(230, 228, 228, 0.25) inset;
  background: linear-gradient(135deg, rgba(0, 0, 0.8), rgba(0, 0, 1));
}

.skills-icon img:hover {
transform: translateY(3px);
}

.inner-skills-box p {
  color: rgb(172, 167, 167);
}


@media only screen and (max-width: 960px) {
  .skills-container>div {
    width: 100%;
  }
}

@media only screen and (max-width: 539px) {
  .inner-skills-box {
    padding: 10px;
  }
}


@media only screen and (max-width: 300px) {
    .inner-skills-box p {
      font-size: 0.8rem;
    }
}